iframe {
  text-align: center;
  display: block;
  align-content: center;
  width: 420px;
  height: 315px;
  text-align: center;
  justify-content: center;
  left: 50%;
  right: 50%;
}

.row {
  text-align: center;
}

.music-video {
  text-align: center;
  justify-content: center;
  display: inline-block;
  margin-top: 20px;
}

.soundcloud-vid {
  text-align: center;
  justify-content: center;
  display: inline-block;
  margin-top: 20px;
}

.score {
  text-align: center;
  justify-content: center;
  display: inline-block;
  margin-top: 20px;
}

h1 {
  font-size: 40px;
}

.portfolio {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 100px;
}

.portfolio .compositions {
  padding-top: 100px;
  margin-bottom: 100px;
}